<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">
    <title>Войти</title>
</head>
<body>
<div class="wrapper">
    <h2>Вход</h2>
    <form name='f' action="/login" method='POST'>
        <div>Имя пользователя:</div>

        <div><input type='text' name='username' value=''/></div>

        <div>Пароль:</div>

        <div><input type='password' name='password'/></div>
        <div><input name="submit" type="submit" value="Войти"/></div>

        <div>Новый пользователь? <a href="/registration">Зарегистрироваться</a></div>
        <div id="stateMessage" th:text="${stateMessage}"></div>
    </form>
</div>
</body>
</html>