<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">
    <title>Войти</title>
</head>
<body>
<div class="wrapper">
    <h2>Вход</h2>
    <form name='f' action="/login" method='POST'>
        <div>Имя пользователя:</div>

        <div>
            <label for="username"></label><input type='text' id="username" name='username' placeholder="Имя пользователя"/>
        </div>

        <div>Пароль:</div>

        <div>
            <label for="password"></label><input type='password' id="password" name='password' placeholder="Пароль"/>
      </div>
        <div><input name="submit" type="submit" value="Войти"/></div>

        <div style="text-align: center">Новый пользователь? <a href="/registration">Зарегистрироваться</a></div>
        <div style="text-align: center" id="stateMessage" th:text="${stateMessage} "></div>
    </form>
</div>
</body>
</html>