<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зарегистрироваться</title>
</head>
<body>
<div class="wrapper">
    <h2>Регистрация</h2>
    <form action="#">
        <div class="input-box">
            <input type="text" id="username" placeholder="Введите имя пользователя" required>
        </div>
        <div class="input-box">
            <input type="email" id="email" placeholder="Введите адрес электронной почты" required>
        </div>
        <div class="input-box">
            <input type="password" id="password" placeholder="Придумайте пароль" required>
        </div>
        <div class="input-box">
            <input type="password" id="confirmPassword" placeholder="Повторите пароль" required>
        </div>
        <div class="input-box button">
            <input type="submit" id="saveButton" value="Зарегистрироваться">
        </div>
    </form>
    <div><a href="/login">У меня уже есть аккаунт</a></div>
    <div id="stateMessage" th:text="${stateMessage}"></div>
</div>


<script th:inline="javascript">
    const saveButton = document.getElementById("saveButton");
    const message = document.getElementById("stateMessage");

    const usernameInput = document.getElementById("username");
    const emailInput = document.getElementById("email");
    const passwordInput = document.getElementById("password");
    const confirmPasswordInput = document.getElementById("confirmPassword");

    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    function saveUser_fetchReq() {
        const username = usernameInput.value;
        const email = emailInput.value;
        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;
        if (password !== confirmPassword) {
            message.textContent = "Пароли не совпадают! Повторите попытку";
        } else if (!emailRegex.test(email)) {
            message.textContent = "Некорректный адрес электронной почты!";
        } else {
            let newUser = {
                username: username,
                email: email,
                password: password
            };
            fetch('/registration', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(newUser)
            })
                .then(response => {
                    if (response.ok){
                        window.location.href = "/login";
                    } else {
                        return response.text().then(text => {
                            throw new Error(text);
                        });
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    message.textContent = error.message;
                });
        }
    }

    saveButton.addEventListener('click', saveUser_fetchReq);
</script>
</body>
</html>