body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Нежно-голубой фон */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: #e6f7ff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}
.input-box {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    background: white;
    border-spacing: 0;
    margin-top: 10px;
}

td:nth-child(1),
td:nth-child(2) {
    background-color: #99ccff;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid darkblue;
}

th {
    background-color: #99ccff;
}

tr:nth-child(even) {
    background-color: #cceeff;
}


.title {
    text-align: center;
    margin-bottom: 20px;
}
.topnav {
    margin-left: auto;
    margin-right: 15px;
}