/* Add a black background color to the top navigation */
.topnav {
    background-color: #e8e8e8;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #1c1c1c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */ /* Цвет текста */
    border-spacing: 1px;/* Расстояние между ячейками */
    margin-top: 10px;
}
th {
    background: #a11111; /* Цвет фона ячеек */
    padding: 5px;
    color: white;/* Поля вокруг текста */
}
td {
    background: #e8e8e8; /* Цвет фона ячеек */
    padding: 5px;/* Поля вокруг текста */
    color: #1c1c1c;
    text-align: center;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}





