<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8"/>
    <title>Расписание</title>
</head>

<body>
<h1>Расписание v. 1.0</h1>
<div class="topnav">
    Здравствуйте, <span th:text="${username}"></span>! <a href="/logout">Выйти</a>
</div>

<div id="myElement" data-default-days="[[${defaultDays}]]"></div>

<table id="schedule">
    <thead>
    <tr>
        <td></td>
        <td></td>
        <th th:each="dayOfWeek : ${defaultDays}" th:text="${dayOfWeek.name}"></th>
        <td></td>
    </tr>
    </thead>


    <tbody>
    <tr th:if="${#lists.isEmpty(defaultStartTimes)}">
        <td>No data available</td>
    </tr>
    <tr th:unless="${#lists.isEmpty(defaultStartTimes)}"
        th:each="timeIndex : ${#numbers.sequence(0, defaultStartTimes.size() - 1)}">
        <td th:text="${defaultStartTimes[timeIndex].toString()}"></td>
        <td th:text="${defaultEndTimes[timeIndex].toString()}"></td>

        <td th:each="dayIndex : ${#numbers.sequence(0,defaultDays.size()-1)}"
            th:text="${defaultContent[timeIndex][dayIndex]}"></td>
        <td></td>

    </tr>
    </tbody>

</table>


<div>
    <button id="editButton">Редактировать</button>
    <button id="saveButton" style="display: none">Сохранить изменения</button>
</div>
<div id="stateMessage"></div>
<div id="spinner-container"></div>
<div id="hiddenUserId" style="display: none;" th:text="${userId}"></div>

<script th:inline="javascript">
    const userId = [[${userId}]];

    const defaultDays = [[${defaultDays}]];
    const allDays = [[${allDays}]];
    const defaultStartTimes = [[${defaultStartTimes}]];
    const defaultEndTimes = [[${defaultEndTimes}]];
</script>
<script src = "/js/schedule.js"></script>
</body>
</html>